<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <h2>Functionality</h2>
    <h3>File Uploads</h3>
    <p>"serverUrl":3000/api/upload/</p>
  <h3>Processing</h3>
  <p>"serverUrl":3000/api/processing</p>
  </body>
</html>
